@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=No75to+Sans+KR:wght@100;300;400;500;700;900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@font-face {
  font-family: 'SF Pro Display';
  src: url(../fonts/SFProDisplay-Medium.ttf);
  src: local("SF Pro Display Medium"), local("SFProDisplay-Medium"), url("SFProDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'SF Pro Display';
  src: url(../fonts/SFProDisplay-Black.ttf) format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'SF Pro Display';
  src: url("SFProDisplay-UltralightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: 'SF Pro Display';
  src: url(../fonts/SFProDisplay-RegularItalic.ttf) format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'SF Pro Display';
  src: url(../fonts/SFProDisplay-Thin.ttf);
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'SF Pro Display';
  src: url(../fonts/SFProDisplay-Light.ttf);
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'SF Pro Display';
  src: url(../fonts/SFProDisplay-BlackItalic.ttf);
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'SF Pro Display';
  src: url(../fonts/SFProDisplay-Bold.ttf);
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'SF Pro Display';
  src: url(../fonts/SFProDisplay-Black.ttf);
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'SF Pro Display';
  src: url(../fonts/SFProDisplay-Ultralight.ttf);
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'SF Pro Display';
  src: url(../fonts/SFProDisplay-Semibold.ttf);
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'SF Pro Display';
  src: url(../fonts/SFProDisplay-Regular.ttf);
  font-weight: normal;
  font-style: normal; }

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: SF Pro Display;
  color: #ffffff; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

nav,
footer,
header,
aside {
  display: block; }

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
a {
  color: #FFFFFF; }

body {
  background: #101932; }

.container {
  width: 90%;
  max-width: 1960px;
  margin: 0 auto; }

.container_3 {
  max-width: 1587px;
  margin: 0 auto; }

header {
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  background-color: #00000090;
  padding: 25px 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .header .pic {
    display: block;
    position: relative;
    min-width: 50px;
    height: 50px;
    background: #E22F2F;
    border-radius: 15px;
    background-image: url(../img/icons/g10.svg);
    background-position: center center;
    background-repeat: no-repeat; }
  .header .header_left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 13px;
    position: relative;
    z-index: 1; }
    .header .header_left p {
      font-weight: 800;
      font-size: 25px; }
      .header .header_left p span {
        color: #E11D2E; }
  .header .header_right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 70px; }
    .header .header_right .first {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      gap: 25px;
      font-weight: 600;
      font-size: 17px;
      opacity: 0.8; }
      .header .header_right .first p {
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
        .header .header_right .first p:hover {
          color: #AC1216; }
    .header .header_right .last p {
      font-weight: 600;
      font-size: 15px;
      padding: 11px 30px;
      background: #AC1216;
      border-radius: 10px;
      -webkit-transition: .3s linear;
      -o-transition: .3s linear;
      transition: .3s linear; }
      .header .header_right .last p:hover {
        background-color: #ffffff;
        color: #AC1216; }

.screen_1 {
  position: relative;
  z-index: 1;
  background: -webkit-linear-gradient(189.19deg, #162758 2.47%, #0A142A 97.49%);
  background: -o-linear-gradient(189.19deg, #162758 2.47%, #0A142A 97.49%);
  background: linear-gradient(260.81deg, #162758 2.47%, #0A142A 97.49%); }
  .screen_1::after {
    content: '';
    position: absolute;
    width: 950px;
    height: 950px;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, 35%);
    -ms-transform: translate(-50%, 35%);
    transform: translate(-50%, 35%);
    background-image: url(../img/icons/web.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 1; }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-right: 200px;
  position: relative;
  margin-bottom: 129px;
  padding-top: 168px; }
  .wrapper::before {
    content: '';
    position: absolute;
    width: 355.64px;
    height: 356px;
    left: -5%;
    top: -10%;
    background: -webkit-radial-gradient(50% 50%, 34.94% 34.94%, #E11D2E 0%, rgba(255, 81, 96, 0.58) 100%);
    background: -o-radial-gradient(50% 50%, 34.94% 34.94%, #E11D2E 0%, rgba(255, 81, 96, 0.58) 100%);
    background: radial-gradient(34.94% 34.94% at 50% 50%, #E11D2E 0%, rgba(255, 81, 96, 0.58) 100%);
    opacity: 0.4;
    -webkit-filter: blur(50px);
    filter: blur(50px);
    border-radius: 1000px; }
  .wrapper::after {
    content: '';
    position: absolute;
    width: 422.58px;
    height: 423px;
    left: -76px;
    top: 438px;
    background: -webkit-radial-gradient(50% 50%, 34.94% 34.94%, #E11D2E 0%, rgba(255, 81, 96, 0.58) 100%);
    background: -o-radial-gradient(50% 50%, 34.94% 34.94%, #E11D2E 0%, rgba(255, 81, 96, 0.58) 100%);
    background: radial-gradient(34.94% 34.94% at 50% 50%, #E11D2E 0%, rgba(255, 81, 96, 0.58) 100%);
    opacity: 0.4;
    -webkit-filter: blur(50px);
    filter: blur(50px);
    border-radius: 1000px; }

.wr_left {
  width: 848px;
  position: relative;
  z-index: 1; }
  .wr_left h1 {
    font-weight: 800;
    font-size: 80px;
    line-height: 90px;
    color: #FFF; }
    .wr_left h1 span {
      color: #E11D2e; }
  .wr_left p:nth-child(2) {
    margin-top: 10px;
    font-weight: 500;
    font-size: 25px;
    color: #71768E; }
  .wr_left p:nth-child(3) {
    font-size: 32px;
    line-height: 38px;
    color: #A0A3B5;
    margin: 40px 0 46px; }
  .wr_left .wr_left_links,
  .wr_left .addres {
    width: 699px; }
  .wr_left .wr_left_links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .wr_left .wr_left_links a {
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      padding: 30px 30px;
      opacity: .8; }
      .wr_left .wr_left_links a:hover {
        opacity: 1; }
      .wr_left .wr_left_links a:first-child {
        background: #E11D2E;
        border-radius: 10px; }
        .wr_left .wr_left_links a:first-child p {
          font-weight: 700;
          font-size: 25px; }
      .wr_left .wr_left_links a:last-child {
        background: rgba(255, 255, 255, 0.05);
        border-radius: 10px; }
        .wr_left .wr_left_links a:last-child p {
          font-size: 25px; }
  .wr_left .addres {
    margin-top: 20px;
    padding: 14px 30px;
    border: 1px solid rgba(255, 255, 255, 0.09);
    border-radius: 10px; }
    .wr_left .addres p:first-child {
      font-weight: 500;
      font-size: 15px;
      color: rgba(255, 255, 255, 0.2); }
    .wr_left .addres p:last-child {
      font-size: 25px;
      color: rgba(255, 255, 255, 0.4); }

.wr_right {
  position: relative;
  z-index: 1; }
  .wr_right div {
    position: absolute; }
    .wr_right div:nth-child(2) {
      width: 693.3px;
      height: 694px;
      left: -50%;
      top: -50%;
      z-index: -1;
      -webkit-transform: translate(25%, 25%);
      -ms-transform: translate(25%, 25%);
      transform: translate(25%, 25%);
      background: -webkit-radial-gradient(50% 50%, 33.58% 33.57%, rgba(225, 29, 46, 0.5) 0%, rgba(255, 81, 96, 0.155) 100%);
      background: -o-radial-gradient(50% 50%, 33.58% 33.57%, rgba(225, 29, 46, 0.5) 0%, rgba(255, 81, 96, 0.155) 100%);
      background: radial-gradient(33.58% 33.57% at 50% 50%, rgba(225, 29, 46, 0.5) 0%, rgba(255, 81, 96, 0.155) 100%);
      -webkit-filter: blur(50px);
      filter: blur(50px);
      border-radius: 1000px; }
    .wr_right div:nth-child(3) {
      width: 122.88px;
      height: 123px;
      right: -10%;
      bottom: -20%;
      background: -webkit-radial-gradient(50% 50%, 34.94% 34.94%, #E11D2E 0%, rgba(255, 81, 96, 0.58) 100%);
      background: -o-radial-gradient(50% 50%, 34.94% 34.94%, #E11D2E 0%, rgba(255, 81, 96, 0.58) 100%);
      background: radial-gradient(34.94% 34.94% at 50% 50%, #E11D2E 0%, rgba(255, 81, 96, 0.58) 100%);
      -webkit-filter: blur(50px);
      filter: blur(50px);
      border-radius: 1000px; }
    .wr_right div:nth-child(4) {
      width: 401px;
      height: 422px;
      z-index: -1;
      left: 73.61%;
      right: 4.47%;
      top: 6.48%;
      bottom: 88.96%;
      background: -webkit-radial-gradient(#742F8C, #2424EB);
      background: -o-radial-gradient(#742F8C, #2424EB);
      background: radial-gradient(#742F8C, #2424EB);
      opacity: 0.4;
      -webkit-filter: blur(50px);
      filter: blur(50px);
      border-radius: 1000px;
      -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
      -ms-transform: matrix(1, 0, 0, -1, 0, 0);
      transform: matrix(1, 0, 0, -1, 0, 0); }
    .wr_right div:nth-child(5) {
      bottom: 50%;
      left: -25%; }
    .wr_right div:nth-child(6) {
      top: 0;
      right: 8%; }
    .wr_right div:nth-child(7) {
      bottom: 34%;
      right: -20%; }

.row {
  position: relative;
  overflow: hidden; }

.bottom_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
  background: #5A4039;
  padding: 11px 0;
  animation: slide 15s linear infinite reverse;
  overflow: hidden; }
  .bottom_content:last-child {
    position: absolute;
    top: 0;
    left: -100%; }
  .bottom_content p {
    min-width: 300px;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    color: rgba(255, 245, 0, 0.6); }

@-webkit-keyframes slide {
  0% {
    padding-left: 100%; }
  100% {
    padding-left: 0; } }

@keyframes slide {
  0% {
    padding-left: 100%; }
  100% {
    padding-left: 0; } }

.screen_2 {
  padding: 50px 0 86px;
  background: #101932; }
  .screen_2 .container_2 {
    max-width: 979.5px;
    margin: 0 auto;
    position: relative; }
  .screen_2 .btn_links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 450px; }
    .screen_2 .btn_links a {
      position: relative;
      z-index: 1; }
    .screen_2 .btn_links div {
      position: absolute;
      top: -10%;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      width: 950px;
      height: 950px;
      background: #143D8505;
      border-radius: 1000px; }
      .screen_2 .btn_links div div:nth-child(2) {
        position: absolute;
        width: 108px;
        height: 108px;
        left: 6%;
        top: 50%;
        background: #E11D2E20;
        border-radius: 100px; }
        .screen_2 .btn_links div div:nth-child(2)::after {
          content: '';
          position: absolute;
          width: 50px;
          height: 50px;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          background: #E11D2E;
          border-radius: 100px; }
      .screen_2 .btn_links div div:nth-child(3) {
        position: absolute;
        width: 108px;
        height: 108px;
        left: 86%;
        top: 20%;
        background: #0096F220;
        border-radius: 100px; }
        .screen_2 .btn_links div div:nth-child(3)::after {
          content: '';
          position: absolute;
          width: 50px;
          height: 50px;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          background: #0096F2;
          border-radius: 100px; }
      .screen_2 .btn_links div div:nth-child(4) {
        position: absolute;
        width: 108px;
        height: 108px;
        top: 77%;
        left: 77%;
        background: #FF942920;
        border-radius: 100px; }
        .screen_2 .btn_links div div:nth-child(4)::after {
          content: '';
          position: absolute;
          width: 50px;
          height: 50px;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          background: #FF9429;
          border-radius: 100px; }
      .screen_2 .btn_links div div:nth-child(1) {
        position: absolute;
        width: 750px;
        height: 750px;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background: #143D8510;
        border-radius: 1000px; }
        .screen_2 .btn_links div div:nth-child(1) div {
          position: absolute;
          width: 550px;
          height: 550px;
          left: 50%;
          top: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          background: #143D8510;
          border-radius: 1000px; }
          .screen_2 .btn_links div div:nth-child(1) div div {
            width: 335px;
            height: 319.56px;
            position: absolute;
            left: 50%;
            top: 0%;
            -webkit-transform: translate(-50%, 0%);
            -ms-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
            background: #143D85;
            background-image: url(../img/icons/overageshiba.svg), url(../img/icons/earth.svg);
            background-repeat: no-repeat, no-repeat;
            background-position: center center, center center;
            background-size: 193px 164px, 240px 275px; }
    .screen_2 .btn_links a img {
      -webkit-filter: grayscale(1);
      filter: grayscale(1);
      opacity: .1;
      -webkit-transition: .5s ease;
      -o-transition: .5s ease;
      transition: .5s ease; }
    .screen_2 .btn_links a:hover img {
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
      opacity: 1; }

.about {
  position: relative;
  z-index: 1;
  margin: 450px 0 0;
  text-align: center; }

.about_link {
  margin-bottom: 33px; }
  .about_link a p {
    margin: 0 auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 15px 45px;
    border-radius: 10px;
    background: #E11D2E;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    opacity: 0.9;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    .about_link a p:hover {
      opacity: 1; }

.about_text {
  font-weight: 700;
  font-size: 35px;
  line-height: 42px; }

.screen_3 {
  margin-bottom: 175px; }
  .screen_3 h2 {
    text-align: center;
    font-weight: 700;
    font-size: 50px;
    margin: 50px 0; }
    .screen_3 h2:nth-child(3) {
      margin-bottom: 10px; }
  .screen_3 p:nth-child(4) {
    text-align: center;
    font-size: 25px;
    opacity: 0.5;
    margin-bottom: 50px; }

.wrapper_3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 68px;
  margin-bottom: 169px; }
  .wrapper_3 .item {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background: #384D70;
    border-radius: 20px;
    padding: 40px; }
    .wrapper_3 .item:nth-child(2) .shadow {
      background: #FF942910; }
      .wrapper_3 .item:nth-child(2) .shadow .icon {
        background: #FF9429; }
    .wrapper_3 .item:nth-child(3) .shadow {
      background: #0096F210; }
      .wrapper_3 .item:nth-child(3) .shadow .icon {
        background: #0096F2; }
    .wrapper_3 .item .shadow {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 120px;
      height: 120px;
      background: #EA0B1E10;
      border-radius: 20px; }
      .wrapper_3 .item .shadow .icon {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 70px;
        height: 70px;
        background: #E11D2E;
        border-radius: 10px; }
    .wrapper_3 .item .bottom_text h3 {
      font-weight: 600;
      font-size: 35px;
      margin: 30px 0 10px; }
    .wrapper_3 .item .bottom_text p {
      font-weight: 500;
      font-size: 25px;
      line-height: 30px;
      color: rgba(255, 255, 255, 0.7); }
      .wrapper_3 .item .bottom_text p:nth-child(2) {
        font-size: 20px;
        opacity: 0.3;
        margin-bottom: 30px; }

.wrapper_4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 231px;
  grid-gap: 50px 40px; }
  .wrapper_4 .child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 43px;
    border-radius: 30px; }
    .wrapper_4 .child .ch_right h3 {
      font-weight: 700;
      font-size: 30px;
      color: #FFFFFF; }
    .wrapper_4 .child .ch_right p {
      margin-top: 20px;
      font-size: 24px;
      line-height: 29px;
      color: rgba(255, 255, 255, 0.6); }
    .wrapper_4 .child:nth-child(1) {
      padding: 36px 50px 60px;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
      grid-column: 1/3;
      -ms-grid-row: 1;
      -ms-grid-row-span: 2;
      grid-row: 1/3;
      background: #071022; }
      .wrapper_4 .child:nth-child(1) .ch_right {
        width: 70%; }
      .wrapper_4 .child:nth-child(1) .ch_left {
        height: 85%;
        padding: 20px 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border-radius: 30px;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 700px;
        background-color: #0096F2;
        background-image: url(../img/icons/city.jpg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat; }
        .wrapper_4 .child:nth-child(1) .ch_left img:first-child {
          -webkit-transform: rotate(-35deg);
          -ms-transform: rotate(-35deg);
          transform: rotate(-35deg); }
    .wrapper_4 .child:nth-child(2) {
      padding: 35px 30px;
      background: #FF9429; }
    .wrapper_4 .child:nth-child(3) {
      padding: 35px 30px;
      background: #067CCB; }

.screen_4 {
  background: #30298C; }

.wrapper_5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 150px 0 143px;
  position: relative; }
  .wrapper_5::before {
    content: '';
    position: absolute;
    width: 644px;
    height: 604px;
    top: -48%;
    left: -3%;
    background-image: url(../img/icons/web.svg);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: cover; }
  .wrapper_5 .wrapper_5_left {
    min-width: 552px; }
    .wrapper_5 .wrapper_5_left h3 {
      font-weight: 700;
      font-size: 50px;
      line-height: 60px; }
    .wrapper_5 .wrapper_5_left p {
      margin: 20px 0 40px;
      font-size: 20px;
      line-height: 24px;
      opacity: 0.6; }
    .wrapper_5 .wrapper_5_left a p {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      padding: 25px 30px;
      background: #E11D2E;
      border-radius: 10px;
      font-weight: 700;
      font-size: 25px;
      opacity: 1; }
  .wrapper_5 .wrapper_5_right {
    min-width: 996px; }

.wrap_left {
  width: 107px;
  height: 107px;
  background: #FFFFFF10;
  border-radius: 20px; }

.top img {
  display: block;
  margin: 25% auto; }

.bottom img {
  display: block;
  margin: 20% -25%; }

.first_child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 996px;
  gap: 21px; }
  .first_child:nth-child(1) {
    margin-bottom: 50px; }
  .first_child h3 {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 10px; }
  .first_child p {
    font-size: 32px;
    line-height: 38px;
    opacity: 0.8; }

.screen_5 h2 {
  text-align: center;
  font-weight: 700;
  font-size: 50px;
  margin: 70px 0 50px; }

.row_5 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 792px 2px 792px;
  grid-template-columns: 792px 2px 792px;
  grid-auto-rows: auto;
  grid-gap: 20px; }

.item_5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .item_5:nth-child(1) {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 1769px; }
    .item_5:nth-child(1) .child_5 {
      border-radius: 30px;
      padding: 35px 30px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      gap: 30px;
      position: relative; }
      .item_5:nth-child(1) .child_5::after {
        content: '';
        position: absolute;
        width: 12px;
        height: 12px;
        right: -28px;
        top: 50%;
        border-radius: 50%;
        background: #FF0000;
        border: 2px solid rgba(255, 255, 255, 0.5); }
      .item_5:nth-child(1) .child_5 .contain {
        min-width: 138px;
        min-width: 138px;
        max-height: 146px;
        max-height: 146px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border-radius: 30px; }
        .item_5:nth-child(1) .child_5 .contain p {
          font-weight: 700;
          font-size: 65px;
          opacity: 0.5; }
      .item_5:nth-child(1) .child_5 .second_text h3 {
        font-weight: 500;
        font-size: 30px;
        margin-bottom: 20px; }
      .item_5:nth-child(1) .child_5 .second_text p {
        font-size: 25px;
        line-height: 30px; }
      .item_5:nth-child(1) .child_5:nth-child(1) {
        background: rgba(56, 77, 112, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.1); }
        .item_5:nth-child(1) .child_5:nth-child(1) .contain {
          background: #384D7020; }
      .item_5:nth-child(1) .child_5:nth-child(2) {
        background: rgba(56, 77, 112, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.1); }
        .item_5:nth-child(1) .child_5:nth-child(2) .contain {
          background: #384D7020; }
      .item_5:nth-child(1) .child_5:nth-child(3) {
        background: #384D70;
        border: 1px solid rgba(255, 255, 255, 0.1); }
        .item_5:nth-child(1) .child_5:nth-child(3)::after {
          content: '';
          position: absolute;
          width: 12px;
          height: 12px;
          right: -28px;
          top: 50%;
          border-radius: 50%;
          background: #FFFFFF;
          border: 2px solid rgba(0, 0, 0, 0.5); }
        .item_5:nth-child(1) .child_5:nth-child(3) .contain {
          background-color: #ffffff10; }
  .item_5:nth-child(2) {
    height: 1660px;
    margin-top: auto;
    background: #384D70;
    position: relative;
    z-index: -1; }
    .item_5:nth-child(2) div {
      height: 340px;
      background-color: red; }
    .item_5:nth-child(2)::after {
      content: '';
      position: absolute;
      bottom: -10%;
      left: 0;
      width: 2px;
      height: 200px;
      background-color: #384D70; }
  .item_5:nth-child(3) {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 290px 0 410px 0; }
    .item_5:nth-child(3) .child_5_last {
      border-radius: 30px;
      padding: 35px 30px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      gap: 30px;
      position: relative; }
      .item_5:nth-child(3) .child_5_last::after {
        content: '';
        position: absolute;
        width: 12px;
        height: 12px;
        left: -28px;
        top: 50%;
        border-radius: 50%;
        background: #FF0000;
        border: 2px solid rgba(255, 255, 255, 0.5); }
      .item_5:nth-child(3) .child_5_last .contain {
        background: #384D7020;
        min-width: 138px;
        min-width: 138px;
        max-height: 146px;
        max-height: 146px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border-radius: 30px; }
        .item_5:nth-child(3) .child_5_last .contain p {
          font-weight: 700;
          font-size: 65px;
          opacity: 0.5; }
      .item_5:nth-child(3) .child_5_last .second_text h3 {
        font-weight: 500;
        font-size: 30px;
        margin-bottom: 20px; }
      .item_5:nth-child(3) .child_5_last .second_text p {
        font-size: 25px;
        line-height: 30px; }
      .item_5:nth-child(3) .child_5_last:nth-child(1) {
        background: rgba(56, 77, 112, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.1); }
        .item_5:nth-child(3) .child_5_last:nth-child(1) .contain {
          background: #384D7020; }
      .item_5:nth-child(3) .child_5_last:nth-child(2) {
        background: #384D70;
        border: 1px solid rgba(255, 255, 255, 0.1); }
        .item_5:nth-child(3) .child_5_last:nth-child(2) .contain {
          background: #FFFFFF10; }
        .item_5:nth-child(3) .child_5_last:nth-child(2)::after {
          content: '';
          position: absolute;
          width: 12px;
          height: 12px;
          right: -28px;
          top: 50%;
          border-radius: 50%;
          background: #FFFFFF;
          border: 2px solid rgba(0, 0, 0, 0.5); }

.screen_6 {
  background: #162344;
  padding: 70px 0 140px;
  margin: 130px 0 0; }
  .screen_6 h2 {
    text-align: center;
    font-weight: 700;
    font-size: 50px;
    margin: 0px 0 60px; }
    .screen_6 h2:nth-child(4) {
      margin-bottom: 40px; }

.profil_wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 424px;
  grid-gap: 54px; }

a {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  a:hover {
    opacity: .5; }
  a:nth-child(1) .foto {
    background-image: url(../img/user_1.jpg);
    background-size: 103% 100%; }
  a:nth-child(2) .foto {
    background-image: url(../img/user-2.jpg); }
  a:nth-child(3) .foto {
    background-image: url(../img/user_3.jpg); }
  a:nth-child(4) .foto {
    background-image: url(../img/user_4.jpg); }
  a .foto {
    width: 350px;
    height: 337px;
    border-radius: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  a .under_tex {
    text-align: center; }
    a .under_tex h3 {
      font-weight: 700;
      font-size: 30px;
      margin: 20px 0 13px; }
    a .under_tex p {
      font-weight: 600;
      font-size: 22px;
      opacity: 0.6; }

.checkbox_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 60px;
  margin: 50px auto 80px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .checkbox_wrapper input {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: #A2A7B4;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    .checkbox_wrapper input:hover {
      opacity: .5; }
    .checkbox_wrapper input:checked {
      background: #FF0000; }

.button_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .button_links a img {
    opacity: .5;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease; }
  .button_links a:hover img {
    opacity: 1; }

.screen_7 {
  padding: 70px 0 150px;
  background: #101932;
  position: relative; }
  .screen_7 .map {
    width: 1144px;
    height: 657px;
    position: absolute;
    top: 32%;
    left: 28%;
    background-image: url(../img/icons/mao.svg);
    opacity: .1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  .screen_7 h2 {
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 48px; }

.container_4 {
  max-width: 1036px;
  margin: 0 auto; }

.questions {
  max-width: 100%; }

.questions_item {
  font-weight: 500;
  background: #384D70;
  border-radius: 15px;
  padding: 0px 35px;
  margin-bottom: 20px;
  position: relative; }
  .questions_item::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    background: #E11D2E80;
    background-image: url(../img/icons/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% 70%;
    border-radius: 100px; }

.questions_title {
  padding: 25px 0;
  display: block;
  cursor: pointer;
  font-size: 15px; }

.questions_input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 0;
  height: 0;
  position: absolute; }
  .questions_input:checked + .questions_item {
    background: #000; }

.questions_answer {
  display: none;
  color: #7C8491;
  font-size: 14px;
  padding-bottom: 20px; }

.questions_input:checked ~ .questions_answer {
  display: block; }

.screen_8 {
  background: #162758;
  padding: 60px 0 180px; }
  .screen_8 h2 {
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    line-height: 60px;
    margin: 0px 0 110px; }
  .screen_8 .social_links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    gap: 40px;
    margin: 0 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .screen_8 .social_links a {
      -webkit-transition: .3s linear;
      -o-transition: .3s linear;
      transition: .3s linear; }
      .screen_8 .social_links a:hover {
        opacity: .5; }
  .screen_8 .last_img {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 168px auto 0; }

footer {
  background: #0D1428;
  padding: 40px 0;
  text-align: center; }
  footer h2 {
    font-size: 20px;
    opacity: 0.4; }
