* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}


/* default or reusable */

:root {
    --main-col: #101932;
    --red-col: #E11D2E;
    --tomato-col: #AC1216;
}

body {
    background-color: var(--main-col);
}

.active-b {
    all: unset;
    font-size: 25px;
    color: white;
    padding: 25px 50px;
    border-radius: 10px;
    background-color: var(--red-col);
}

.unactive-b {
    all: unset;
    font-size: 25px;
    color: white;
    padding: 25px 50px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    font-weight: 100;
}

a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
}

main, header {
    max-width: 1920px;
    margin: 0 auto;
}

/* WARNING!!!! */
.mob-elem {
    display: none;
}

/* WARNING!!!! */

/*  */

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 90px;

    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
}

header .links a {
    opacity: 0.8;
}



header .right .links, header .right {
    display: flex;
    align-items: center;
    gap: 25px;
}

header .active-b {
    padding: 11px 30px;
    background-color: var(--tomato-col);
    font-size: 15px;
    font-weight: 600;
}

/* screen styles */

.screen {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 90px;
    width: 100%;
}

.screen h1, .screen h1 b {
    font-size: 80px;
    line-height: 90px;
    font-weight: 800;
    color: white;
}

.screen h1 b {
    color: var(--red-col);
}

.screen span {
    font-size: 25px;
    font-weight: 500;
    color: #71768E;
}

.screen p {
    font-size: 32px;
    font-weight: 400;
    color: #A0A3B5;
    margin: 44px 0px;
    width: 60%;
}

.screen .left .btns {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 20px;
}


.screen .address {
    border: 1px solid rgba(255, 255, 255, 0.09);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 13px 30px;
    width: 82%;
}

.screen .left, .screen .right {
    width: 100%;
}

.screen .right {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.screen .right img {
    z-index: 2;
}

.screen .right::after {
    content: "";
    display: block;
    position: absolute;
    width: 693.3px;
    height: 694px;
    left: -50.01px;
    top: -200px;

    background: radial-gradient(33.58% 33.57% at 50% 50%, rgba(225, 29, 46, 0.5) 0%, rgba(255, 81, 96, 0.155) 100%);
    filter: blur(50px);
    border-radius: 1000px;
    z-index: 1;
}

.screen .right::before {
    content: "";
    display: block;
    position: absolute;
    left: 74.61%;
    right: 4.47%;
    top: 6.48%;
    bottom: 88.96%;

    background: #2424EB;
    opacity: 0.4;
    filter: blur(50px);
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.screen {
    background: linear-gradient(260.81deg, #162758 2.47%, #0A142A 97.49%);
    height: 100vh;
}


.romb1 {
    position: absolute;
    left: 4.66%;
    right: 43.13%;
    top: 4.63%;
    bottom: 94.24%;
}

.romb2 {
    position: absolute;
    left: 87.67%;
    right: 6.41%;
    top: 4.84%;
    bottom: 93.69%;
}

header .logo:before {
    content: "";
    display: block;
    position: absolute;
    width: 355.64px;
    height: 356px;
    left: -32.04px;
    top: -87px;

    background: radial-gradient(34.94% 34.94% at 50% 50%, #E11D2E 0%, rgba(255, 81, 96, 0.58) 100%);
    opacity: 0.4;
    filter: blur(50px);
    border-radius: 1000px;
    z-index: -1;
}

.logo {
    z-index: 2;
}

.btns::after {
    content: "";
    display: block;
    position: absolute;
    width: 422.58px;
    height: 423px;
    left: -76px;
    top: 438px;

    background: radial-gradient(34.94% 34.94% at 50% 50%, #E11D2E 0%, rgba(255, 81, 96, 0.58) 100%);
    opacity: 0.4;
    filter: blur(50px);
    border-radius: 1000px;
    z-index: 1;
}

.btns button, .address {
    z-index: 2 !important;
}

.screen .left {
    z-index: 10;
}

.screen {
    max-height: 1080px;
}

.hamburger {
    all: unset;
    display: none;
}

/* buttons */
.screen2 {
    height: 104vh;    
    justify-content: space-between;
    align-items: center;
    padding: 40px 90px;
    display: flex;
    flex-direction: column;
}
.pautina {
    align-items: center;
    text-align: center;
}
.pautina .paut {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
    transform: translate(-0px , -160px);
}
.siba {
    z-index: 3;
    position: absolute;
    background-position: center;
    transform: translate(-580px , 160px);
}
.round {
    z-index: 0;
    position: absolute;
    transform: translate(-950px , -160px);
}
.round1 {
    z-index: 0;
    position: absolute;
    transform: translate(-860px , -60px);
}
.round2 {
    z-index: 0;
    position: absolute;
    transform: translate(-750px , -0px);
}
.dot {
    z-index: 0;
    position: absolute;
    transform: translate(-850px , 200px);
}
.dot2 {
    z-index: 0;
    position: absolute;
    transform: translate(-250px , -0px);
}
.world {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 2;
    position: absolute;
    transform: translate(-650px , 100px);
}
.wrapper {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    z-index: 10;
}
.button {
    all: unset;
    opacity: 0.1;
    filter: alpha(opacity=400);
}
.text button {
    all: unset;
    background-color: #E11D2E;
    align-items: center;
    color: white;
    position: absolute;
    padding: 15px 45px;
    text-align: center;
    border-radius: 10px;
    transform: translate(185px , -400px);
}
.text h1 {
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
    text-align: center;
    color: white;
    transform: translate(0px , -300px);
}

.screen3 {
    display: flex;
    align-items: center;
    padding: 40px 90px;
    flex-direction: column;
    justify-content: space-between;
}
.screen3 h1 {
    color: white;
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
    transform: translate(-20px , 0px);
}
.cards {
    display: flex; 
    align-items: center;
    gap: 20px;
    padding: 40px 90px;
    justify-content: space-between;
}
.card {
    display: flex;
    gap: 25px;
    padding: 30px 40px;
    position: relative;
    flex-direction: column;
    background-color: #384D70;
    border-radius: 20px;
}
.card h1 {
    transform: translate(0px , 0px);
    white-space: nowrap;
    font-size: 32px;
    font-weight: 600;
    line-height: 41px;
    color: white;
}
.card p {
    font-size: 25px;
    line-height: 30px;
    color: white;
}
.card span {
   color: gray;
   font-weight: 400;
   font-size: 20px;
   line-height: 24px; 
}
.card:nth-child(2) {
    transform: translate(0px , 15px);
}
.card:nth-child(3) {
    transform: translate(0px , -60px);
}

.screen4 {
    justify-content: space-between;
    align-items: center;
    padding: 40px 90px;
    text-align: center;
}
.screen4 h1 {
    margin-top: 70px;
    color: white;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
}
.screen4 span {
    color: gray;
    line-height: 42px;
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 35px;
}
.block .left img {
    margin-top: 35px;
    width: 1600px;
}
.boxes {
    display: flex;
}
.box {
    padding: 10px 30px;
    display: flex;
    width: 49%;
    align-items: center;
    margin-top: 40px;
}
.box h1 {
    transform: translate(-110px , -50px);
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
}
.box p {
    transform: translate(30px , -50px);
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
}
.box:nth-child(1) {
    background-color: #FF9429;
    height: 235px;
    border-radius: 30px;
}
.box:nth-child(2) {
    margin-left: 25px;
    background-color: #067CCB;
    height: 235px;
    border-radius: 30px;
}

.screen5 {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    height: 600px;
    width: 100%;
    background-color: #30298C;
    max-width: 1920px;
}
.screen5 .left {
    display: flex;
    flex-direction: column;
    gap: 25px;
    transform: translate(100px , 170px);
}
.screen5 .left button {
    width: 400px !important;
    font-size: 25px !important;
    text-align: center !important;
    color: white !important;
    all: unset;
    background-color: #E11D2E;
    padding: 25px 30px;
    border-radius: 10px;
}
.screen5 .left p {
    font-weight: 400;
    font-size: 20px;
    color: gray;
    line-height: 24px;
}
.screen5 .left h1 {
    color: white;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
}
.screen5 img {
    transform: translate(-20px , 50px);
    height: 450px;
}
.screen5 .left2 {
    align-items: center;
    text-align: center;
}

.screen7 {
    background-color: #162344;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 100px;
    width: 100%;
    padding: 40px 90px;
    align-items: center;
    text-align: center;
}
.screen7 h1 {
    margin-top: 20px;
    color: white;
    margin-bottom: 60px;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
}
.wrapper {
    display: flex;
    gap: 50px;
    text-align: center;
}
.image {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.image h1 {
    font-size: 30px;
    font-weight: 700;
    color: white;
    line-height: 35px;
}
.image img {
    width: 350px;
    height: 350px;
}
.image span {
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: gray;
    transform: translate(0px , -70px);
}
.buttons h1 {
    margin-top: 70px;
}
.buttons button {
    all: unset;
}
.buttons img {
    opacity: 0.2;
}
.buttons .container {
    display: flex;
    gap: 20px;
}
.space {
    margin-bottom: 50px;
}

.screen8 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 700px;
    padding: 40px 90px;
    align-items: center;
    text-align: center;
}
.screen8 h1 {
    margin-top: 40px;
    color: white;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
}
.line {
    margin-top: 45px;
    background-color: #384D70;
    border-radius: 15px;
    width: 1000px;
    justify-content: space-between;
    display: flex;
    text-align: center;
    align-items: center;
}
.lines {
    margin-top: 22px;
    background-color: #384D70;
    border-radius: 15px;
    width: 1000px;
    justify-content: space-between;
    display: flex;
    text-align: center;
    align-items: center;
}
.lines h1 {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    margin: 25px 35px;
}
.line h1 {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    margin: 25px 35px;
}
#arrow {
    transform: translate(-35px , -12px);
}
#map {
    position: absolute;
    transform: translate(0px , 150px);
}

.screen9 {
    display: flex;
    flex-direction: column;
    background-color: #162758;
    width: 100%;
    height: 960px;
    text-align: center;
    align-items: center;
}
.screen9 .bruttons {
    margin-top: 115px;
    display: flex;
    gap: 45px;
}
.bruttons img {
    height: 100px;
    width: 100px;
}
.screen9 h1 {
    margin-top: 50px;
    color: white;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
}
#last-siba {
    margin-top: 80px;
}

footer {
    text-align: center;
    height: 87px;
    width: 100%;
    background-color:   #0D1428;
}
footer h1 {
    transform: translate(0px , 30px);
    line-height: 24px;
    font-weight: 400;
    color: gray;
    font-size: 20px;
}